.jump {
	
	.title {

		.span {

		}

	}
// edfouhsodufh
}

/* .hook-responsive-md() {*/

/* fhgf
//fghfrgfd {
	.hook-responsive-g {}
}
}
{}
fgfgf
*/

.hook-responsive-md() {		}

.hook-responsive-sm() {
	
	.jump {
	
		.title {

			.span {

			}

		}
		
	}

}

.jump {
	
	.title {

		.span {

		}

	}

}

.hook-responsive-md() {
	
	.jump {
	
		.title {

			.span {

			}

		}
		
	}

}