// Name:            Header 
// Description:     Defines styles for the Header 
//
// ======================================================================== 

// Import any common files 
// @import "partials/[file-name].less"; 

/*
Contents:
	01. Global Styles
	02. Tablet
	03. Menu
*/

/* ==========================================================================
   01. Global Styles
   ========================================================================== */

.header-container {

	.container-296mj {
		display: none;
	}

	// remove default margin from header containers 
	.container-wrap,
	.row-fluid,
	.container {
		margin: 0 auto;
	}

	// Logo & Franchise badge container 
	.container-r6z94 {
		background: @header--background;
	}

	// breadcrumbs 
	.container-5k2ms {
		position: relative;
		z-index: 100; // make sure dropshadow is on top 
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
		border-top: solid 1px @vars__light-grey-color;

		.homepage & {
			display: none;
		}

	}

	.logo,
	.franchise-badge {
		padding: 0;
		width: auto;
		float: left;
		max-width: 46%;
		height: 70px;

		&:before {
			content: " ";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.inner,
		> a {
			vertical-align: middle;
			display: inline-block;
		}

	}

	.franchise-badge {
		float: right;
	}

	.contact-numbers {

		.inset {
			padding: 0;
			line-height: normal;
			.clearfix;

		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li[class*="location"] {
			box-sizing: border-box;
			padding: 5px;
			width: 50%;
			float: left;
			margin-bottom: 15px;

			> .label {
				display: none;
			}

			a {
				border: none;
				text-decoration: none;
				color: #000;
				text-align: left;
				height: auto;
				line-height: initial;
				font-size: 12px;
				margin-right: 5px;
			}

			& > a {
				font-weight: bold;
				font-size: 14px;
				padding-bottom: 5px;
				display: inline-block;
			}

		}

		.department {
			display: block;
			.clearfix;

			.value {
				float: right;
			}

			.label {
				float: left;
			}

		}

	}

}

.hook-responsive-xs-max() {
	
	.header-container {

		.logo {
			float: none;
			margin: 0 auto;
			max-width: 60%;
		}

	}
	
}

/* ==========================================================================
   02. Tablet
   ========================================================================== */

.hook-responsive-sm(){

	.header-container {
		padding: 0;

		.container-dqlqp {
			display: none;
		}

		.logo,
		.franchise-badge {
			max-width: none;
		}

		// top bar desktop 
		.container-296mj {
			display: block;
			background: @header__bar--background-sm;
			border-bottom: @header__bar--item--border-sm;

			.button {
				float: right;
				margin: 0;
				padding: 0;
			}

			.back-to-group {
				float: left;
			}

			.btn {
				background: none;
				width: auto;
				margin: 0;
				padding: @header__bar--item-padding-sm;
				font-size: @header__bar--font-size-sm;
				color: contrast(@header__bar--background-sm);
				line-height: @header__bar--line-height-sm;

				&:before,
				&:after {
					display: none;
				}

				&:hover {
					background: none;
					color: contrast(@header__bar--background-sm);
				}

				span {
					vertical-align: middle; // needed to align with other items 
					line-height: normal;
					top: auto;
				}

			}

			.chat {
				width: auto; //20%;
				border-left: @header__bar--item--border-sm;
				border-right: @header__bar--item--border-sm;

				.btn {
					background: #00749b;
					width: 100%;

					.icon:before {
						font-size: 21px;
					}

				}

			}

			.social-icons {
				float: left;
				width: auto; //32%;
				padding: 0;
				font-size: @header__bar--font-size-sm;
				color: contrast(@header__bar--background-sm);
				line-height: @header__bar--line-height-sm;
				font-family: @vars__base--font-face;
				
				&.module {
					border-right: none;
				}

				.icon-social:before {
					font-size: 20px;					
				}

				.title {
					font-size: @header__bar--font-size-sm;

					span {
						vertical-align: middle; // needed to align with other items 
						line-height: normal;
					}

				}

				li {
					margin: 0;
					float: left;
					padding: 0;

					+ li {
						border-left: @header__bar--item--border-sm;
					}
				}

				li a {
					padding: 0 10px;
					border-radius: 0;
					box-shadow: none;
					background: none;
				}

			}

			.contact-numbers {
				position: relative;
				float: left;
				width: auto; //13%;
				z-index: 1025;
				padding: @header__bar--item-padding-sm;
				font-size: @header__bar--font-size-sm;
				color: contrast(@header__bar--background-sm);
				line-height: @header__bar--line-height-sm;
				font-family: @vars__base--font-face;
				text-align: left;
				padding-left: 0;
				border-right: @header__bar--item--border-sm;

				.icon {

					&:before {
						content: @icon__custom--phone;
						margin-right: 10px;
					}
					
				}

				.toggle-contact,
				a {
					color: inherit;
					text-decoration: none;

					span {
						vertical-align: middle; // needed to align with other items 
						line-height: normal;
					}

				}

				.toggle-body {
					display: none;
					position: absolute;
					left: 0;
					top: 100%;
					width: 400px;
					box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
					background: @vars__body-background;
					color: contrast(@vars__body-background);

					a {
						color: inherit;
					}

					&:before {
						content: " ";
						z-index: 1;
						position: absolute;
						left: 20px;
						bottom: 100%;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid @vars__body-background;
					}

					&:after {
						content: " ";
						position: absolute;
						left: 18px;
						bottom: 100%;
						border-left: 12px solid transparent;
						border-right: 12px solid transparent;
						border-bottom: 12px solid contrast(@vars__light-grey-color, lighten(@vars__light-grey-color, 10%), darken(@vars__light-grey-color, 10%));
					}

					&.active {
						display: block;
					}

					.inset {
						padding: 5px 10px 0;
					}

				}

				.close {
					display: none;
				}

			}

			.nav-switch {
				float: right;
				width: auto; //14%;
				padding: @header__bar--item-padding-sm;
				font-size: @header__bar--font-size-sm;
				color: contrast(@header__bar--background-sm);
				line-height: @header__bar--line-height-sm;
				font-family: @vars__base--font-face;
				text-align: right;
				padding-right: 0;

				a {
					color: inherit;
					text-decoration: none;
					text-align: right;
				}

				span {
					vertical-align: middle; // needed to align with other items 
					line-height: normal;
				}

				.toggle-nav {

					.icon {
						margin: 0 0 0 10px;
						height: 3px;

						&:before {
							height: 3px;
							top: -6px;
						}

						&:after {
							height: 3px;
							top: 6px;
						}

					}

					&:after {
						display: none;
					}

					&.active {

						.icon {

							&:before,
							&:after {
								top: 50%;
							}

						}

					}

				}

			}

		}

		// Carcloud header links 
		.cc.header-links {
			float: left;
			width: auto;
			padding: @header__bar--item-padding-sm;

			.action {
				float: left;
				margin-right: 5px;
				text-decoration: none;
				font-size: @header__bar--font-size-sm;
				color: contrast(@header__bar--background-sm);
				line-height: @header__bar--line-height-sm;

				.tooltip,
				span {
					display: inline-block;
					line-height: normal;
					vertical-align: middle;
				}

			}

		}

		.contact-button {
			width: auto;
			float: left;
			padding: 0;
			font-size: @header__bar--font-size-sm;
			color: contrast(@header__bar--background-sm);
			line-height: @header__bar--line-height-sm;
			font-family: @vars__base--font-face;

			a {
				color: inherit;
				text-decoration: none;
			}

			.number {
				font-weight: 700;
				padding-left: 10px;
			}

		}


		.hinckley {

			span:first-of-type {
				// vertical-align: middle;
				
				&:before {
					.icon-styles;
					content: @icon__custom--phone;
					padding-right: 6px;
				}

			}

		}

		.container-r6z94 {

			.contact-button {
				float: right;
				line-height: 70px;
				height: 70px;
			}

			.stoke {
				padding-left: 30px;
			}

		}

	}

}

/* ==========================================================================
   03. Small Desktop 
   ========================================================================== */

.hook-responsive-md() {
	
	.header-container {

		.logo {
			position: relative;
			z-index: 10;
			padding-left: 20px;

			&:before {
				content: "";
			    display: block;
			    position: absolute;
			    left: 0;
			    top: 0;
			    background: @vars__brand-primary-color;
			    bottom: 0;
			    right: -20px;
			    z-index: -1;
			}

		}

		.container-296mj {
			border-bottom: none;
			max-width: 1920px;
			margin: 0 auto;

			.container {
				width: 100%;
			}

			.contact-button {
				float: left;
			}

			.hinckley {
				padding-left: 20px;
			}

			.stoke {
				margin-left: 30px;
			}

			.social-icons {
				float: right;

				.socialHoverBackgrounds(@iterator:1) when(@iterator <= length(@socialicons--background_hover)) {
					@name: extract(extract(@socialicons--background_hover, @iterator), 1);

					.@{name}:hover a {
						background-color: extract(extract(@socialicons--background_hover, @iterator), 2);
					}
					.socialHoverBackgrounds((@iterator + 1));
				}
				.socialHoverBackgrounds();
			}

			.chat {
				border: none;
			}

		}

		.container-r6z94 {
			background: #000;
			max-width: 1920px;
			margin: 0 auto;
			position: relative;

			.container {
				width: 100%;
			}

		}

	}

}


/* ==========================================================================
   05. Menu
   ========================================================================== */

.hook-responsive-sm() {

	#primary-menu {
		clear: both;
	}

	.nav-collapse.active {
		padding-bottom: 20px;
	}

}

.hook-responsive-md-only(){

	#primary-menu {
		float: right;
		clear: right;
		width: ~'calc(100% - 263px)';
	}

	.nav {
		text-align: right;
		font-size: 0;
	}

	.navbar .nav > li {
		float: none;
		display: inline-block;
	}

}

.hook-responsive-lg() {
	
	#primary-menu {
		width: auto;
		clear: none;
		position: absolute;
		top: 0;
		right: 0;
		left: 263px;
	}

	.nav {
		width: 100%;
	}

	.navbar .nav>li {
		float: left;
	}

}